.slider-1 {
    background: url('../img/slider/1.jpg');
}

.slider-2 {
    background: url('../img/slider/2.jpg');
}

.slider-3 {
    background: url('../img/slider/3.jpg');
}

.nav-sticky, 
.mobile-sticky {
    position: sticky !important;
    top: 0px;
}

.zi{
    z-index: 100;
}

.mob-li > li > a > span {
    color: #000000;
}

.btn-tg{
    background: transparent !important;
    color: #000000;
}

.bg-custom {
    background: url('../img/slider/1.jpg');   
}

.filter-class {
    margin-bottom: 25px;
}

@media(max-width:1199px) {
    .nav-sticky {
        display: none
    }
}