.slider-1 {
    background: url('../img/slider/1.jpg');
}

.slider-2 {
    background: url('../img/slider/2.jpg');
}

.slider-3 {
    background: url('../img/slider/3.jpg');
}

.nav-sticky {
    position: sticky !important;
    top: 0px;
}

.bg-custom {
    background: url('../img/slider/1.jpg');   
}

.filter-class {
    margin-bottom: 25px;
}